
<html>
<head>
    <link href="/assest/style.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</body>
</html>

