<html>
    <head>
        <link href="/assest/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include ("./partials/header.ejs") %>
        <h1>Hello, This is ContactUs Page</h1>
        <p>Contact us on : sarangp021@gmail.com</p>
        <p><a href="mailto:sarangp021@gmail.com"  >sarangp021@gmail.com</a></p>
    </body>
</html>