<html>
    <head>
        <link href="/assest/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include ("./partials/header.ejs") %>
        <h1>Hello, This is the Node JS Home Page</h1>
        <p>Stay Tuned For Further Notice!!</p>
        <p><a href="https://google.com" target="__blank" >Google</a></p>
    </body>
</html>